body {
    padding-top: 50px;
    color: gray;
    background-color: black;
    font-family: 'Coda', cursive;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
}

.footer {
    float: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.social {
    overflow: hidden;
    margin-bottom: 0;
}
.social li {
    float: right;
    height: 25px  !important;
}
.social .facebook {
    width: 70px;
}
.social .twitter {
    width: 70px;
}
.social .gplus {
    width: 50px;
}
